.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  min-height: 500px;

  &__ad {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
  &__noitems {
    margin-right: 10px;
    padding: 10px;
  }

  &__return {
    text-decoration: underline;
    color: #e6a61d;
    font-weight: 800;
  }

  &__suggestions {
    padding: 20px;

    .checkout__title {
      font-size: 20px;
    }

    &Products {
      display: flex;
    }
  }
}
