.checkoutProduct {
  display: flex;
  margin: 20px 0;

  &__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

  &__info {
    padding-left: 20px;

    & > button {
      display: inline-flex;
      align-items: center;

      cursor: pointer;
      padding: 6px 12px;
      margin-top: 10px;
      background: #f0c14b;
      box-shadow: 0 4px 0 0 #a07300;
      overflow: hidden;

      border: none;
      border-radius: 4px;
      outline: none;

      color: #111;
      font-weight: 600;
      font-size: 14px;
    }
  }

  &__title {
    font-size: 17px;
    font-weight: 800;
  }

  &__rating {
    display: flex;
  }

  &__quantity {
    display: flex;
    align-items: center;

    width: -webkit-fit-content;

    width: -moz-fit-content;

    width: fit-content;
    margin-top: 10px;

    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 2px;

    & > button {
      cursor: pointer;
      padding: 0 8px;

      background: none;
      border: none;
      outline: 0;

      font-size: 20px;
    }

    & > input {
      width: 30px;
      padding: 0;

      border: none;
      outline: none;

      text-align: center;
      font-size: 17px;
    }
  }

  &__orderQuantity {
    margin-top: 10px;
    font-size: 20px;
  }
}

.fadeout {
  -webkit-animation: fadeout 0.2s;
  animation: fadeout 0.2s;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
